@charset "utf-8";
#saif {
	display: inline-block;
	padding: 10px 25px;
	margin-bottom: 30px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #4caf50;
	border: none;
	border-radius: 5px;
	box-shadow: 0 5px #999;
	transition-duration: 0.1s;
}
#saif:hover{
	background-color: red; /* Green*/
	color: white;
}
#saif:active{
	background-color: #3e8e41;
	box-shadow: 0 0px #666;
	transform: translateY(4px);
}